* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: 'Nunito', sans-serif;
  line-height: 1.3;
  color: #fff;
  scroll-behavior: smooth;
}

.hero {
  position: relative;
  height: 100%;
  text-align: center;
  background-color: #000;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 1;
}


.overlay {
  position: relative;
  z-index: 2;
  background: rgba(0, 0, 0, 0.6);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

header p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.details, .program-download {
  margin: 1.5rem 0;
}

.details h2, .program-download h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  padding: 0.8rem 1.5rem;
  background: #f7931e;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 1rem;
  cursor: pointer;
}

.btn:hover {
  background: #cf6817;
  transition: background-color 0.3s ease;
}

.fade-in {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeIn 1s forwards ease-out;
}

.delay-1 {
  animation-delay: 0.5s;
}

.delay-2 {
  animation-delay: 1s;
}

.delay-3 {
  animation-delay: 1.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.footer {
  color: white;
  padding: 40px 0;
  text-align: center;
  font-family: Arial, sans-serif;
}

.footer-content {
  margin-bottom: 8px;
}

.footer-link {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  display: inline-block;
}

.footer-link:hover {
  color: #4CAF50;
}

.footer-link i {
  margin-right: 8px;
}

.footer-copy {
  font-size: 8px;
  margin-top: 6px;
  color: #ccc;
}
